In [0]:
import numpy as np
import pandas as pd

In [0]:
class CleanData:
  def __init__(self, url):
    self.df = pd.read_csv(url)
    # remove CI from columns
    self.CI_cols = [col for col in np.array(df.columns) if 'CI_' in col]
    self.df = df.drop(df[CI_cols],axis=1)
    # replace negative values with NaN
    self.df = df.replace([-1,-1111,-1111.1,-2,-2222.2,-2222,-9999],
                    [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan])
  def dataframe(self):
     return self.df

In [48]:
url = 'https://raw.githubusercontent.com/Nov05/CHSI-Dash/master/data/LEADINGCAUSESOFDEATH.csv'
LCOD_class = CleanData(url)
df_LCOD = LCOD_class.dataframe()
df_LCOD.sample(5)

      State_FIPS_Code  County_FIPS_Code  ... CI_Max_F_Hi_Cancer LCD_Time_Span
1307             26.0             157.0  ...                NaN     1999-2003
1594             29.0             229.0  ...                NaN     1994-2003
157               5.0              97.0  ...                NaN     1994-2003
2578             48.0             115.0  ...               23.0     1994-2003
295               8.0             105.0  ...               25.0     1994-2003

[5 rows x 235 columns]

In [50]:
df_LCOD.describe()

       State_FIPS_Code  ...  CI_Max_F_Hi_Cancer
count      3141.000000  ...          552.000000
mean         30.304680  ...           31.474638
std          15.134423  ...            9.077169
min           1.000000  ...           17.000000
25%          18.000000  ...           25.000000
50%          29.000000  ...           29.000000
75%          45.000000  ...           36.000000
max          56.000000  ...           71.000000

[8 rows x 231 columns]