In [0]:
import numpy as np
import pandas as pd

In [0]:
class CleanData:
  def __init__(self, url):
    self.df = pd.read_csv(url)
    # remove CI from columns
    self.CI_cols = [col for col in np.array(self.df.columns) if 'CI_' in col]
    self.df = self.df.drop(self.df[self.CI_cols],axis=1)
    # replace negative values with NaN
    self.df = self.df.replace([-1,-1111,-1111.1,-2,-2222.2,-2222,-9999,-9989.9],
                              [np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,
                               np.nan])
  def dataframe(self):
     return self.df

In [4]:
url = 'https://raw.githubusercontent.com/Nov05/CHSI-Dash/master/data/LEADINGCAUSESOFDEATH.csv'
df_LCOD = CleanData(url).dataframe()
print(df_LCOD.shape)
df_LCOD.sample(5)

(3141, 83)

      State_FIPS_Code  County_FIPS_Code  ... F_Hi_Cancer LCD_Time_Span
1879             36.0             107.0  ...         NaN     1999-2003
2096             39.0             111.0  ...         NaN     1994-2003
147               5.0              77.0  ...         NaN     1994-2003
2376             46.0              35.0  ...         NaN     1994-2003
616              17.0              47.0  ...         NaN     1994-2003

[5 rows x 83 columns]

In [5]:
df_LCOD.describe()

       State_FIPS_Code  County_FIPS_Code  ...  F_Ot_Cancer  F_Hi_Cancer
count      3141.000000       3141.000000  ...   492.000000   600.000000
mean         30.304680        103.716651  ...    22.802846    21.826667
std          15.134423        107.999484  ...     6.204570     5.601093
min           1.000000          1.000000  ...    10.000000    10.000000
25%          18.000000         35.000000  ...    18.000000    18.000000
50%          29.000000         79.000000  ...    22.000000    21.000000
75%          45.000000        133.000000  ...    26.000000    25.000000
max          56.000000        840.000000  ...    50.000000    50.000000

[8 rows x 79 columns]